body {
          background-color: rgb(3, 148, 120);
          color: aliceblue;
          font-family: sans-serif;
          display: flex;
          height: 98vh;
          gap: 10px;
          align-items: center;
          justify-content: space-around;
          overflow: hidden;
     }

     .main {
          display: flex;
          gap: 10px;
          height: 660px;
          overflow-y: scroll;
          flex-direction: column;
          justify-content: flex-start;
          align-items: center;
          width: 1300px;
          background-color: rgb(25, 175, 155);
          padding: 10px 20px 20px 20px;
          border-radius: 30px;
          line-height: 0px;
          transform: translateY(0px);
          animation: inro2 2s ease-out;
             animation: inro2 2s ease-out;
      }
          @keyframes inro2 {
      from {
        transform: translateY(900px);
      }

      to {
        transform: translateY(0px);
      }
    }

     /* Target the entire scrollbar */
     ::-webkit-scrollbar {
          width: 10px;
          /* Set the width of the scrollbar */
          background-color: #f0f0f000;
          /* Background of the scrollbar track */
     }

     /* Target the scrollbar track (the area the thumb moves along) */
     ::-webkit-scrollbar-track {
          -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          border-radius: 10px;
          background-color: #f5f5f500;
     }

     /* Target the scrollbar thumb (the draggable part) */
     ::-webkit-scrollbar-thumb {
          border-radius: 10px;
          -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          background-color: #55555500;
     }

     /* Style the thumb on hover */
     ::-webkit-scrollbar-thumb:hover {
          background-color: aqua;
     }

     button {
          background-color: rgb(16, 158, 134);
          color: rgb(76, 75, 75);
          padding: 10px;
          font-size: 15px;
          border: none;
          outline: none;
          border-radius: 30px;
          cursor: pointer;
          width: 100px;
          font-weight: 900;
          transition: 0.2s ease;
     }

     button:hover {
          background-color: rgb(0, 255, 221);
          box-shadow: 0 0 10px rgb(0, 156, 143);
     }

     .nav {
          display: flex;
          gap: 10px;
          flex-direction: column;
          justify-content: flex-start;
          align-items: center;
          width: 100px;
          background-color: rgb(20, 172, 146);
          /* background-color: rgb(34, 100, 100); */
          padding: 10px 20px 20px 20px;
          border-radius: 30px;
          line-height: 0px;
            animation: intro 2s cubic-bezier(0, 0, 0.62, 1.05);
      }
     @keyframes intro {
      from {
        transform: translateX(-600px);
      }

      to {
        transform: translateX(0px);
      }
    }

     #five {
          white-space: pre-line;
          font-size: 16px;
          line-height: 30px;
          text-align: center;
     }
     a{
          color: aqua;
          text-decoration: none;
          margin-top: 3px;
     }
     a:hover{
          text-decoration: underline;
     }