body {
        background-color: rgb(3, 138, 120);
        color: aliceblue;
        font-family: sans-serif;
      }

      .main {
        margin: auto;
        display: flex;
        gap: 10px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        justify-self: center;
        width: 400px;
        background-color: rgb(25, 175, 155);
        padding: 2px 20px 20px 20px;
        border-radius: 30px;
        animation: intro 2s cubic-bezier(0, 0, 0.62, 1.05);
      }
     @keyframes intro {
      from {
        transform: translateX(-600px);
      }

      to {
        transform: translateX(0px);
      }
    }
      h1:hover {
        color: rgb(6, 150, 119);
      }
      .main:hover {
        background-color: rgb(4, 235, 204);
        box-shadow: rgb(rgb(0, 95, 67));
      }
      button {
        background-color: rgb(27, 156, 150);
        color: rgb(255, 255, 255);
        padding: 10px;
        font-size: 15px;
        border: none;
        outline: none;
        border-radius: 30px;
        cursor: pointer;
        width: 50%;
        font-weight: 900;
        transition: 0.2s ease;
      }

      button:hover {
        background-color: rgb(27, 156, 150);
        box-shadow: 0 0 10px rgb(0, 167, 139);
        border-style: solid;
        border-style: 10px;
      }

      .output {
        margin: auto;
        padding: 2px 20px 20px 20px;
        border-radius: 30px;
        display: flex;
        gap: 10px;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        justify-self: center;
        width: fit-content;
        background-color: rgb(25, 175, 155);
        height: 570px;
        width: 400px;
        color: rgb(255, 255, 255);
        text-align: center;
        margin-top: 20px;
        animation: inro2 2s ease-out;
      }
          @keyframes inro2 {
      from {
        transform: translateY(900px);
      }

      to {
        transform: translateY(0px);
      }
    }
      a {
        color: rgb(255, 255, 255);
        text-decoration: none;
        padding: 10px 20px 50px 20px;
      }
      .output:hover {
        background-color: rgb(11, 223, 194);
        box-shadow: rgb(rgb(2, 151, 114));
      }